entrypoint = "main.go"
run = ["go", "run", "."]

modules = ["go-1.24"]

[env]
GOPATH="$REPL_HOME/gopath"

[nix]
channel = "stable-24_05"
packages = ["air"]

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
build = "CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -a -o main"
run = "./main"
ignorePorts = false
deploymentTarget = "gce"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001

[[ports]]
localPort = 8080
externalPort = 8080

[agent]
expertMode = true

[workflows]
